{% extends 'SpeedLogInterfaceBundle::interface.html.twig' %}

{% block pagetitle %}
<div class="title-env">
    <h1 class="title">{{ document.name }}</h1>
    <p class="description">{% trans %}Edit the details of this ebsite{% endtrans %}</p>
</div>
<div class="breadcrumb-env">
  <a href="{{ path('website') }}" class="btn btn-lg btn-blue">{% trans %}Back to the list{% endtrans %}</a>
</div>
{% endblock %}

{% block content %}
{{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
{{ form_errors(edit_form) }}
<div  class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">1. {% trans %}General information{% endtrans %}</h3>
  </div>
  <div class="panel-body">
    {{ form_row(edit_form.name) }}
    {{ form_row(edit_form.url) }}
  </div>
</div>

<div  class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">2. {% trans %}Pages{% endtrans %}</h3>
  </div>
  <div class="panel-body" id="existing-pages">
  {% for page in edit_form.pages %}
    <div class="existing-page">
    {{ form_row(page.name) }}
    {{ form_row(page.url) }}
    <div class="form-group">
      <label class="col-sm-2 control-label" for="field-1">Actions</label>
      <div class="col-sm-10">
        <a href="#" id="" class="delete_page_link btn btn-red">Delete</a>
      </div>
    </div>
    </div>
    <div class="form-group-separator"></div>
  {% endfor %}
  </div>
  <div class="panel-body" id="new-page" data-prototype="{{ form_widget(edit_form.pages.vars.prototype)|e }}">
  <a href="#" id="add_page_link" class="btn btn-blue">Add a page</a>
  
  <script>

    $(document).ready(function() {

        $('#add_page_link').on('click', function(e) {
            e.preventDefault();
            // ajoute un nouveau formulaire tag (voir le prochain bloc de code)
            addPageForm($('#new-page'), $('#existing-pages'));
        });

        $('.delete_page_link').on('click', function(e) {
            e.preventDefault();
            // ajoute un nouveau formulaire tag (voir le prochain bloc de code)
            $(this).parents('.existing-page').remove();
        });

        function addPageForm(newPageForm, existingPages) {
            // Récupère l'élément ayant l'attribut data-prototype comme expliqué plus tôt
            var prototype = newPageForm.attr('data-prototype');

            // Remplace '__name__' dans le HTML du prototype par un nombre basé sur
            // la longueur de la collection courante
            var newForm = prototype.replace(/__name__/g, existingPages.children().length);

            // Affiche le formulaire dans la page dans un li, avant le lien "ajouter un tag"
            newPageForm.append(newForm);
        }

    });
    </script>
      
  </div>
</div>

<div  class="panel panel-default">
  <div class="panel-body">
    <input type="submit" class="btn btn-lg btn-success btn-icon" value="{% trans %}Update data{% endtrans %}"/>
  </div>
</div>
{{ form_row(edit_form._token) }}
{{ form_end(edit_form, {'render_rest': false}) }}
{% endblock %}

