{% extends 'SpeedLogInterfaceBundle::interface.html.twig' %}

{% block pagetitle %}
<div class="title-env">
    <h1 class="title">Add website</h1>
    <p class="description">{% trans %}Create a new website{% endtrans %}</p>
</div>
<div class="breadcrumb-env">
  <a href="{{ path('website') }}" class="btn btn-lg btn-blue">{% trans %}Back to the list{% endtrans %}</a>
</div>
{% endblock %}

{% block content %}
{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
{{ form_errors(form) }}
<div  class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">1. {% trans %}General information{% endtrans %}</h3>
  </div>
  <div class="panel-body">
    {{ form_row(form.name) }}
    {{ form_row(form.url) }}
  </div>
</div>

<div  class="panel panel-default">
  <div class="panel-body">
    <input type="submit" class="btn btn-lg btn-success btn-icon" value="{% trans %}Create website{% endtrans %}"/>
  </div>
</div>
{{ form_row(form._token) }}
{{ form_end(form, {'render_rest': false}) }}
{% endblock %}

